<div class="container"
  *ngrxLet="(('comment' | translate) | ngrxPush) as translate">
  <div class="row">
    <div class="col">
      <div style="border: 1px solid lightgrey; border-radius: 5px; padding: 1rem;">
        <form #formTemplate="ngForm"
          *ngrxLet="data$ | ngrxPush as data"
          [formGroup]="form" (ngSubmit)="onSubmit()">
          <ng-container *ngIf="!!data">
            <fieldset class="form-group">
              <textarea
                type="text"
                class="form-control form-control-lg"
                [placeholder]="translate.newComment.placeholder"
                [formControl]="form.controls.commentDesc"
                [readonly]="!!data.inputValues.comment || data.inputValues.isLoading"
                [rows]="4"
              ></textarea>
            </fieldset>
            <span style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
              <span style="display: flex; flex-direction: row;">
                <img *ngIf="data.inputValues.comment" style="border-radius: 50%;"
                  [src]="data.inputValues.comment.author.image" [width]="50" [height]="50" alt="profilePic">
                <span style="display: flex; flex-direction: column;" *ngIf="data.inputValues.comment">
                  <span>
                    <a [routerLink]="['/profiles', data.inputValues.comment.author.username]" style="padding-left: 0.5rem">
                      {{ data.inputValues.comment.author.username }}
                    </a>
                  </span>
                  <span>
                    <div style="padding-left: 0.5rem">{{ data.inputValues.comment.createdAt | date: 'yyyy, MMM dd hh:mm a' }}</div>
                  </span>
                </span>
              </span>
              <span style="display: flex; justify-content: flex-end;">
                <span *ngIf="!!!data.inputValues.comment" class="btn-options">
                  <button type="button" class="btn btn-md btn-secondary pull-xs-right"
                    [disabled]="data.inputValues.isLoading || data.inputValues.isSubmitting"
                    (click)="cancelEmitter$.emit()">
                    {{ translate.buttons.cancel }}
                  </button>
                  <button
                    type="submit"
                    class="btn btn-md btn-primary pull-xs-right"
                    [disabled]="data.formStatus === 'INVALID' || data.inputValues.isLoading || data.inputValues.isSubmitting"
                  >
                  {{ translate.buttons.post }}
                  </button>
                </span>
                <button
                  *ngIf="data.inputValues.comment && data.inputValues.showAuthorOptions && !data.showConfirmation"
                  type="button"
                  class="btn btn-md btn-danger pull-xs-right"
                  [disabled]="data.inputValues.isLoading || data.inputValues.isSubmitting"
                  (click)="handleShowConfirmation(true)"
                >
                {{ translate.buttons.delete }}
                </button>
              </span>
              <span *ngIf="data.showConfirmation" class="btn-options">
                <button
                  *ngIf="data.inputValues.comment && data.inputValues.showAuthorOptions"
                  type="button"
                  class="btn btn-md btn-danger pull-xs-right"
                  [disabled]="data.inputValues.isLoading || data.inputValues.isSubmitting"
                  (click)="emitDeleteComment(data.inputValues.comment.id)"
                >
                {{ translate.buttons.confirm }}
                </button>
                <button
                  *ngIf="data.inputValues.comment && data.inputValues.showAuthorOptions"
                  type="button"
                  class="btn btn-md btn-secondary pull-xs-right"
                  [disabled]="data.inputValues.isLoading || data.inputValues.isSubmitting"
                  (click)="handleShowConfirmation(false)"
                >
                {{ translate.buttons.cancel }}
                </button>
              </span>
            </span>
          </ng-container>
        </form>
      </div>

    </div>
  </div>
</div>
