<div class="offcanvas offcanvas-end" tabindex="-1" id="sidebarOffcanvas" aria-labelledby="offcanvasExampleLabel"
  *ngrxLet="('sidebar' | translate) as translate">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Medium</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body"
    *ngrxLet="isAuthenticated$ as isAuth;">
    <div style="display: flex; flex-direction: column;" *ngrxLet="('sidebar.titles' | translate) as titles">
      <div class="nav-section">
        <h3 style="text-align: center;">{{ titles.preferences }}</h3>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [formControl]="savePreferencesControl">
          <label class="form-check-label" for="flexSwitchCheckDefault">
            {{ translate.savePrefs }}
          </label>
        </div>
        <span class="preference-item">
          <span>{{ translate.lang }}</span>
          <span>
            <select class="form-select" [formControl]="langControl">
              <option *ngFor="let item of langList" [value]="item.value">
                {{ item.description }}
              </option>
            </select>
          </span>
        </span>
        <span class="preference-item">
          <span>
            {{ translate.theme }}
            <small><i>(BETA)</i></small>
          </span>
          <span>
            <!-- I had to use it like this here to avoid some weird reading error -->
            <select class="form-select" [formControl]="themesControl" *ngrxLet="('sidebar.themes' | translate) as themes">
              <option value="light">
                {{ themes.light }}
              </option>
              <option value="dark">
                {{ themes.dark }}
              </option>
            </select>
          </span>
        </span>
      </div>
      <hr>
      <h3 style="text-align: center;">{{ titles.articles }}</h3>
      <span>
        <button type="button"
          class="btn btn-sm btn-outline-success pull-xs-right"
          routerLink="/articles/create"
          [disabled]="!isAuth"
          data-bs-dismiss="offcanvas"
        >
          <i class="ion-compose"></i>
          &nbsp;
          {{ translate.newPost }}
        </button>
      </span>
      <hr>
      <div class="nav-section">
        <h3 style="text-align: center;">{{ titles.user }}</h3>
        <ng-container *ngIf="!isAuth">
          <span>
            <button type="button" routerLink="/login" class="btn btn-sm btn-outline-primary pull-xs-right" data-bs-dismiss="offcanvas">
              <i class="ion-log-in"></i>
              &nbsp;
              {{ translate.logIn }}
            </button>
          </span>
          <span>
            <button type="button" routerLink="/register" class="btn btn-sm btn-outline-primary pull-xs-right" data-bs-dismiss="offcanvas">
              <i class="ion-person-add"></i>
              &nbsp;
              {{ translate.register }}
            </button>
          </span>
        </ng-container>
        <ng-container *ngIf="isAuth">
          <span>
            <button type="button" routerLink="/settings" class="btn btn-sm btn-outline-secondary pull-xs-right" data-bs-dismiss="offcanvas">
              <i class="ion-gear-a"></i>
              &nbsp; {{ translate.settings }}
            </button>
          </span>
          <span>
            <button type="button" class="btn btn-sm btn-outline-danger pull-xs-right" (click)="handleLogout()" data-bs-dismiss="offcanvas">
              <i class="ion-log-out"></i>
              &nbsp;
              {{ translate.logOut }}
            </button>
          </span>
        </ng-container>
      </div>
      <hr>
      <div class="nav-section">
        <h3 style="text-align: center;">{{ translate.about }}</h3>
        <span>
          <a routerLink="/about" class="btn btn-sm btn-outline-info pull-xs-right" data-bs-dismiss="offcanvas">
            <i class="ion-information-circled"></i>
            &nbsp;
            {{ translate.about }}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>