<ng-container *ngrxLet="(data$) as data;">
  <div class="auth-page"
    *ngrxLet="(('login' | translate)) as translate">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">
            {{ translate.title }}
          </h1>
          <p class="text-xs-center">
            <a [routerLink]="['/register']">
              {{ translate.link }}
            </a>
          </p>
          <mc-backend-error-messages *ngIf="!!data && data.backendErrors" [errors]="data.backendErrors">
          </mc-backend-error-messages>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                [placeholder]="translate.inputs.emailPlaceholder"
                [formControl]="form.controls.email"
                maxlength="35"
                minlength="6"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                type="password"
                class="form-control form-control-lg"
                [placeholder]="translate.inputs.passwordPlaceholder"
                [formControl]="form.controls.password"
                maxlength="35"
              />
            </fieldset>
            <button type="submit" class="btn btn-lg btn-primary pull-xs-right" [disabled]="data?.isSubmitting">
              {{ translate.buttons.submit }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>