<ng-container *ngIf="(article) && !(showConfirmation$ | ngrxPush); else confirmation;">
  <div class="article-page">
    <div class="banner">
      <div class="container">
        <h1>{{ article.title }}</h1>
        <div class="article-meta">
          <a [routerLink]="['/profiles', article.author.username]">
            <img [src]="article.author.image" alt="profilePic">
          </a>
          <div class="info">
            <a [routerLink]="['/profiles', article.author.username]">
              {{ article.author.username }}
            </a>
            <span class="data">{{ article.createdAt | date: 'dd MMM yyyy, hh:mm a' }}</span>
          </div>
          <ng-container *ngIf="article.author.username === user?.username;">
            <ng-container *ngTemplateOutlet="sameAuthor;"></ng-container>
          </ng-container>
          <ng-container *ngIf="!user || article.author.username !== user.username">
            <ng-container
              *ngTemplateOutlet="
              diffAuthor;
              context: { $implicit: {
                username: article.author.username,
                isFavorited: article.favorited,
                favCount: article.favoritesCount,
                slug: article.slug,
                isFollowing: article.author.following
              } }
              "
            ></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="container page">
      <div class="row article-content">
        <div class="col-xs-12">
          <div>
            <p>{{ article.body }}</p>
          </div>
          <mc-tag-list [tags]="article.tagList"></mc-tag-list>
        </div>
      </div>
    </div>

  </div>
</ng-container>

<ng-template #confirmation>
  <div style="display: flex; flex-direction: column; align-items: center;" *ngrxLet="(('article' | translate) | ngrxPush) as translate">
    <span>
      <h1>{{ translate.confirmationText }}</h1>
    </span>
    <span>
      <div style="display: flex; align-items: center; justify-content: space-evenly; gap: 2rem" *ngIf="inputValues$ | ngrxPush as inputs">
        <button type="button" class="btn btn-danger"
          [disabled]="inputs.isLoading"
          (click)="handleConfirmDeletion(true)">
          {{ translate.buttons.yes }}
        </button>
        <button type="button" class="btn btn-secondary"
          (click)="handleConfirmDeletion(false)">
          {{ translate.buttons.no }}
        </button>
      </div>
    </span>
  </div>
</ng-template>

<ng-template #sameAuthor>
  <ng-container 
    *ngrxLet="(('article' | translate) | ngrxPush) as translate">
    <button type="button" class="btn btn-outline-secondary"
      [disabled]="isLoading"
      (click)="editArticleEmitter$.emit()">
      <i class="ion-edit"></i>
      {{ translate.buttons.edit }}
    </button>
    &nbsp;
    <button type="button" class="btn btn-outline-danger"
      [disabled]="isLoading"
      (click)="handleShowConfirmation()">
      <i class="ion-close"></i>
      {{ translate.buttons.delete }}
    </button>
  </ng-container>
</ng-template>

<ng-template #diffAuthor let-data>
  <ng-content select="[followProfile]"></ng-content>
  &nbsp;
  <ng-content select="[favArticle]"></ng-content>
</ng-template>