<ng-container *ngIf="(data$ | ngrxPush) as data">
  <div class="container-fluid">
    <h2>Comment List</h2>
    <br />
    <ng-container *ngIf="data.comments as comments">
      <ng-container *ngFor="let item of comments">
        <art-comment-ui
          style="padding: 0.5rem"
          [comment]="item"
          [isLoading]="data.isLoading"
          [showAuthorOptions]="item.author.username === data.currentUser?.username"
          (deleteComment)="onDeleteComment($event)"
        ></art-comment-ui>
      </ng-container>
    </ng-container>
    <div class="row mt-5" *ngrxLet="showNewCommentDialog$ | ngrxPush as showNewCommentDialog">
      <div class="col text-end">
        <button
          type="button"
          class="btn btn-lg btn-success"
          [hidden]="showNewCommentDialog || !data.currentUser"
          (click)="handleAddCommentBtn()"
        >
          Add Comment
        </button>
      </div>
      <ng-container *ngIf="data.currentUser && showNewCommentDialog">
        <hr class="mt-2">
        <h4 style="text-align: center;" class="mt-3 mb-3">New Comment</h4>
        <art-comment-ui
          [isLoading]="data.isLoading"
          [isSubmitting]="data.isSubmitting"
          (cancel)="onCancelComment()"
          (createComment)="onCreateComment($event)"
        ></art-comment-ui>
      </ng-container>
    </div>
  </div>
</ng-container>
