<div *ngIf="data$ | async as data">
  <mc-backend-error-messages *ngIf="data.error" [errors]="data.error"></mc-backend-error-messages>
  <art-article-detail-ui *ngIf="data.article"
    [article]="data.article"
    [user]="data.currentUser"
    [isLoading]="data.isLoading"
    (deleteArticle)="onDeleteArticle($event)"
    (editArticle)="onEditArticle()"
    (followAuthor)="onFollowAuthor($event)"
  >
    <app-fav-article
      [articleSlug]="data.article.slug"
      [isFavorited]="data.article.favorited"
      [favCount]="data.article.favoritesCount"
    ></app-fav-article>
  </art-article-detail-ui>
  <mc-loading *ngIf="data.isLoading"></mc-loading>
</div>