<div class="profile-page"
  *ngrxLet="('profile' | translate) as translate">
  <div class="user-info" [ngStyle]="{ backgroundColor: (theme$ | ngrxPush) === 'dark' ? 'rgb(81, 62, 104)' : undefined }">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img class="user-img" [src]="userProfile.image" alt="profilePic" />
          <h4>{{ userProfile.username }}</h4>
          <p>{{ userProfile.bio }}</p>
          <div>
            <ng-content select="[followProfile]"></ng-content>
            <a *ngIf="isCurrentUserProfile" class="btn btn-sm btn-outline-success" routerLink="/settings">
              <i class="ion-gear-b"></i>
              &nbsp;
              {{ translate.buttons.editProfile }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-2">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggler">
          <ul class="nav nav-underline outline-active">
            <li class="nav-item">
              <a type="button"
                class="nav-link"
                [ngClass]="{ 'active': activeLink === 'author' }"
                (click)="authorPostsEmitter$.emit()"
              >
                {{ translate.tabs.myPosts }}
              </a>
            </li>
            <li class="nav-item">
              <a type="button"
                class="nav-link"
                [ngClass]="{ 'active': activeLink === 'favorites' }"
                (click)="favoritedPostsEmitter$.emit()"
              >
              {{ translate.tabs.favPosts }}
              </a>
            </li>
          </ul>
        </div>

        <!-- Template block inserted from parent component -->
        <ng-content select="[feed]"></ng-content>
      </div>
    </div>
  </div>
</div>
