<div class="container page"
  *ngrxLet="('settings' | translate) as translate">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <h1 class="text-xs-center">{{ translate.title }}</h1>
      <hr>
      <mc-backend-error-messages *ngIf="errors"
        [errors]="errors"
      ></mc-backend-error-messages>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
          <fieldset class="form-group" style="display: flex; flex-direction: column; gap: 1rem;">
            <input
              type="text"
              class="form-control form-control-lg"
              [formControl]="form.controls.image"
              [placeholder]="translate.inputs.placeholders.url"
            />
            <input
              type="text"
              class="form-control form-control-lg"
              [formControl]="form.controls.username"
              [placeholder]="translate.inputs.placeholders.username"
            />
            <textarea
              type="text"
              class="form-control form-control-lg"
              [formControl]="form.controls.bio"
              [placeholder]="translate.inputs.placeholders.bio"
              rows="4"
            ></textarea>
            <input
              type="text"
              class="form-control form-control-lg"
              [formControl]="form.controls.email"
              [placeholder]="translate.inputs.placeholders.email"
            />
          </fieldset>
          <button type="button" class="btn btn-lg btn-danger" (click)="onLogout()"
            [disabled]="isSubmitting">
            <i class="ion-log-out"></i>
            &nbsp;
            {{ translate.buttons.logOut }}
          </button>
          <button type="submit" class="btn btn-lg btn-primary pull-xs-right"
            [disabled]="form.invalid || isSubmitting">
            <i class="ion-checkmark-circled"></i>
            &nbsp;
            {{ translate.buttons.submit }}
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>