<div class="container">
  <ng-container *ngIf="(data$ | ngrxPush) as data">
    <prf-profile-ui
      [userProfile]="data.profile"
      [isCurrentUserProfile]="data.isCurrentUserProfile"
      [isLoading]="data.isLoading"
      [activeLink]="data.activeLink"
      (authorPosts)="onAuthorPosts()"
      (favoritedPosts)="onFavoritedPosts()"
    >
      <app-follow-profile *ngIf="!data.isCurrentUserProfile" followProfile></app-follow-profile>
      <mc-feed feed [apiUrl]="data.apiUrl"></mc-feed>
    </prf-profile-ui>
  </ng-container>
</div>